---
---
<script type="header-links" id="header-links-wrapper">
  <div id="header-links">
      <a href="/#resumes-cvs-and-more">Resume</a>
      <span>//</span>
      <a href="/#code">Code</a>
      <span>//</span>
      <a href="/#videos">Videos</a>
      <span>//</span>
      <a href="/#sites">Sites</a>
<!--      <span>//</span>-->
<!--      <a href="/#writings">Writings</a>-->
  </div>
</script>
<script>
  document.getElementById('banner').innerHTML =
    document.getElementById('header-links-wrapper').innerHTML;
</script>
